//Media query breakpoints
$mobileS: 330px;
$mobileM: 400px;
$mobileL: 480px;
$tabletS: 600px;
$tabletL: 768px;
$desktopXS: 900px;
$desktopS: 1080px;
$desktopM: 1200px;
$desktopL: 1400px;

//Colors
$colorWhite: #ffffff;
$colorGrey: #aaaaaa;

//Text size
$textS: 1rem;
$textM: 2rem;

//Margin size
$marginS: 1.25rem;

//Button
$paddingBtn: .75rem;
