//Media query breakpoints
$mobileS: 360px;
$mobileM: 400px;
$mobileL: 480px;
$tabletS: 600px;
$tabletL: 768px;
$desktopXS: 900px;
$desktopS: 1080px;
$desktopM: 1200px;
$desktopL: 1400px;

//Colors
$colorWhite: #ffffff;
$colorGrey: #aaaaaa;

//Text size
$textXS: .75rem;
$textS: 1rem;
$textM: 1.25rem;
$textL: 1.5rem;
$textXL: 1.75rem;
$text2XL: 2rem;

//Icon size
$iconXS: 1.5rem;
$iconS: 2rem;
$iconM: 2.5rem;
$iconL: 3rem;
$iconXL: 3.5rem;

//Margin size
$marginXS: .75rem;
$marginS: 1rem;
$marginM: 2rem;
$marginL: 3.5rem;

//Button
$paddingBtn: .75rem;
