@use "variables" as *;
@use "mixins" as *;

.chart-container {
  display: flex;
  justify-content: center;
  height: 250px;
  padding: 0 .75rem;
  @include responsive($mobileM) {
    height: 275px;
  }
  @include responsive($desktopL) {
    height: 365px;
    padding: .75rem;
  }
}

