@use "variables" as *;
@use "mixins" as *;

.convert-title {
  font-size: $textL;
  font-weight: bold;
}

.values-contained {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  font-size: $textM;
  font-weight: bold;
  font-style: italic;
  margin-top: $marginXS;
}

.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 2rem;

  ion-input.conversion-input[type="number"] {
    width: 100%;
    border: 2px solid var(--ion-color-dark);
    border-radius: 8px;
    --padding-top: .5rem;
    --padding-end: .5rem;
    --padding-start: .5rem;
    --padding-bottom: .5rem;
    font-style: italic;
  }
}

.has-focus {
  border: 2px solid var(--ion-color-primary);
  transition: ease 0.2s;
}

.conversion-icon {
  font-size: $iconM;
}