@use "variables" as *;
@use "mixins" as *;

.info-title {
  font-size: $textL;
  font-weight: bold;
}

.values-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: $textM;
  font-weight: bold;
}

.revenue-container {
  text-align: start;
}

.price-container {
  text-align: end;
}

.revenue-text {
  font-style: italic;
  font-weight: normal;
}