@use "variables" as *;
@use "mixins" as *;

div.ion-text-center {
  margin-top: .25rem;
  @include responsive($mobileS) {
    margin-top: var(--ion-margin, 16px);
  }
  @include responsive($desktopS) {
    margin-top: var(--ion-margin, 16px);
  }
}

.info-title {
  font-size: $textM;
  font-weight: bold;
  @include responsive($mobileS) {
    font-size: $textL;
  }
  @include responsive($desktopS) {
    font-size: $textL;
  }
}

.values-container {
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  font-size: $textS;
  font-weight: bold;
  @include responsive($mobileS) {
    padding: 1rem;
    font-size: $textM;
  }
  @include responsive($desktopS) {
    padding: 1rem;
    font-size: $textM;
  }
}

.revenue-container {
  text-align: start;
}

.price-container {
  text-align: end;
}

.revenue-text {
  font-style: italic;
  font-weight: normal;
}