.mainToolBar{
  --background: var(--ion-color-primary);
}

.uwu{
  display: block;
}

.toolbarButton {
  --padding-start: 5px;
  --padding-end: 5px;
  --color: none;
  --background: none;
  --background-activated: none;
  --box-shadow: none;
}

.toolbarIcon {
  font-size: 48px;
  color: #fff;
}

.toolbarSectionLine {
  width: 1px;
  height: 33px;
  background: #aaa;
}

.toolbarText {
  padding-left: 8px;
  color: #fff;
  font-family: 'Century Gothic' !important;
  font-size: 24px;
}

.currencyName{
  font-family: 'Century Gothic' !important;
  font-size: 22px !important;
  font-weight: 600;
}

.currencyContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.currencySelector {
  border: 2px solid var(--ion-color-dark);
  border-radius: 8px;
  padding: 8px !important;
  font-family: 'Century Gothic' !important;
  font-size: 14px !important;
  --placeholder-color: #152ea08e !important;
}

.list-md{
  padding-bottom: 0px !important;
}

.listBg {
  background: transparent;
  margin-top: 1vh;
}

.logoBTC {
  width: 11vw;
  padding-right: 8px;
}

ion-img.logoBTC+ion-text {
  font-size: 22px;
}

.homeGraph {
  height: 35vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.valuesContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  padding-top: 2vh;
  padding-bottom: 3vh;
  font-size: 20px;
}

.valuesContained {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  font-size: 20px;
  margin-top: 15px;
}


.revenueContainer {
  text-align: start;
  font-family: 'Century Gothic' !important;
  font-size: 21px;
  font-weight: 600;
}

.priceContainer {
  text-align: end;
  font-family: 'Century Gothic' !important;
  font-size: 21px;
  font-weight: 600;
}

.revenueText{
  font-family: 'Century Gothic' !important;
  font-size:18px;
  font-style: italic;
}

.ion-text-center>ion-text {
  font-size: 22px;
}

.inputContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 6px;
  margin-bottom: 5vh;
}

.conversionInput {
  width: 35vw;
  border: 2px solid var(--ion-color-dark);
  border-radius: 8px;
  padding: 1px 8px 1px 8px !important;
  font-style: italic;
}

.conversionIcon {
  font-size: 40px;
}

.convertTitle{
  font-family: 'Century Gothic' !important;
  font-size:22px;
  font-weight: 600;
}


.homeSectionLine {
  height: 2px;
  width: 70%;
  background-color: #152fa0;
  margin: 0 15% 0 15%;
}

.noRipple {
  --ripple-color: transparent;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .logoBTC {
    width: 50px;
  }

  .homeGraph {
    height: 295px;
  }
}